body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.main {
    text-align: center;
    margin-top: 53px;
    margin-bottom: -5px;
}

h2 {

    margin-top: 100px;
}


h1 {
    color: white;
    display: inline-block;
    width: 150px;
    background-color: black;
    text-align: center;
    border-radius: 14px;
    height: 55px auto;
    font-size: 36px;
}

#btn {
    width: 100px;
    text-align: center;
    background: brown;
    border-radius: 6px;
    margin-inline: 18px;
    margin-top: 9px;
    border: white;
    height: 34px;
    font-weight: 600;
}
